.two-col {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.two-col__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  figure.bp-image-widget__wrapper {
    text-align: center;

    img {
      max-width: 250px;
      width: 100%;
    }
  }
}